<div class="nrw_process nrw_primary_bg_color">
    <div class="container">
        <div class="text-center nrw_margin_b_100">
            <p class="nrw_color_white text-uppercase nrw_font_weight_700 nrw_letter_spacing_2">Process</p>
            <h2 class="nrw_color_white">How it Works</h2>
        </div>
        <ul class="list-inline row">
            <li class="col-sm-3 col-xs-6 nrw_process_item">
                <div class="center-block text-center">
                    <div class="nrw_margin_b_30">
                        <span class="nrw_process_circle">01</span>
                    </div>
                    <div class="nrw_padding_x_20">
                        <h3 class="nrw_font_size_18 nrw_color_white">Consult</h3>
                        <p class="nrw_color_white_opacity">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </li>
            <li class="col-sm-3 col-xs-6 nrw_process_item">
                <div class="center-block text-center">
                    <div class="nrw_margin_b_30">
                        <span class="nrw_process_circle">02</span>
                    </div>
                    <div class="nrw_padding_x_20">
                        <h3 class="nrw_font_size_18 nrw_color_white">Create</h3>
                        <p class="nrw_color_white_opacity">The time has come to bring those ideas and plans to life.</p>
                    </div>
                </div>
            </li>
            <li class="col-sm-3 col-xs-6 nrw_process_item">
                <div class="center-block text-center">
                    <div class="nrw_margin_b_30">
                        <span class="nrw_process_circle">03</span>
                    </div>
                    <div class="nrw_padding_x_20">
                        <h3 class="nrw_font_size_18 nrw_color_white">Develop</h3>
                        <p class="nrw_color_white_opacity">Whether through commerce or just an experience to tell your brand.</p>
                    </div>
                </div>
            </li>
            <li class="col-sm-3 col-xs-6">
                <div class="center-block text-center">
                    <div class="nrw_margin_b_30">
                        <span class="nrw_process_circle">04</span>
                    </div>
                    <div class="nrw_padding_x_20">
                        <h3 class="nrw_font_size_18 nrw_color_white">Release</h3>
                        <p class="nrw_color_white_opacity">Now that your brand is all dressed up and ready to party.</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="nrw_btn_wrapper">
            <a routerLink="/about" class="text-uppercase nrw_btn nrw_btn_process">Hire Us</a>
        </div>
    </div>
</div>