.nrw_top_footer {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.nav_footer_menu_item {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.nav_footer_menu_link {
  cursor: pointer;
  font-size: 0.9375rem !important;
  color: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: all .4s .2s ease-out;
  transition: all .4s .2s ease-out;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.nav_footer_menu_link:hover {
  color: #03a9f4 !important;
}
.nav_footer_menu_link.nrw_twitter:hover {
  color: #55acee !important;
}
.nav_footer_menu_link.nrw_facebook:hover {
  color: #3b5998 !important;
}
