.nrw_specialities {
  padding-top: 7.8125rem;
  padding-bottom: 7.8125rem;
}
.nrw_image_grid_padding {
  padding-left: .3125rem;
  padding-right: .3125rem;
}
.nrw_specialities_info {
  margin-bottom: 0rem;
  margin-top: 0.625rem;
  margin-left: 1.25rem;
}
.nrw_specialities_heading {
  margin-bottom: 1.875rem;
}
.nrw_specialities_heading .pheader {
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  letter-spacing: .125rem;
  margin-bottom: 0.9375rem;
}
.nrw_specialities_heading h2 {
  font-size: 2.25rem !important;
}
.nrw_specialities_info ul li {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.col-xs-4 {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.nrw_specialities_info ul li .material-icons {
  font-size: 0.75rem !important;
  margin-right: 0.3125rem;
}