<div class="container nrw_padding_y_20">
    <div class="text-center">
        <p class="text-uppercase nrw_primary_color nrw_section_header">Welcome to No Rules Web</p>
        <h2 [innerHTML]="page.post_content" class="nrw_font_size_20"></h2>
    </div>
</div>
<hr class="colored-rule-center" [style.width.px]="hrWidth">
<div *ngFor="let child of page.children; let i = index">
    <hr class="colored-rule-right" *ngIf="i % 2 === 0 && i > 1" [style.width.px]="childHrs[i - 1]">
    <app-left *ngIf="i % 2 === 0" [page]="child"></app-left>
    <hr class="colored-rule-left" *ngIf="i % 2 != 0 && i >= 1" [style.width.px]="childHrs[i - 1]">
    <app-right *ngIf="i % 2 != 0" [page]="child"></app-right>
</div>
