.nrw_about_container {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.nrw_about_container p {
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  letter-spacing: .125rem;
  margin-bottom: 1.5625rem;
}
.nrw_about_container h2 {
  font-size: 1.625rem !important;
}